.dropzone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: dashed 3px #ccc;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.active {
    border: dashed 3px #D2FF45;
}

.uploadMessage h3 {
    margin-top: 1rem;
}

.files {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
}

.files+label {
    margin-top: 1rem;
    background-color: #D2FF45;
    border-radius: 4rem;
    color: #000;
    cursor: pointer;
    display: inline-block;
    padding: 0.25rem 0.75rem;
    text-align: center;
    user-select: none;
}

.files+label {
    cursor: default;
}

.files+label:focus,
.files+label:hover {
    background-color: #bcf800;
    color: #000;
}

.files+label:focus {
    outline: 1px dotted #fff;
}

.uploadBtn {
    width: auto;
    color: black;
    text-transform: uppercase;
    margin: 2rem;
    background-color: #D2FF45;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 4rem;
    cursor: pointer;
    padding: 0.75rem;
    text-align: center;
}